.map {
  height: 600px;
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}

.green-icon {
  filter: hue-rotate(90deg) brightness(150%);
}

.yellow-icon {
  filter: hue-rotate(45deg) brightness(150%);
}

.red-icon {
  filter: hue-rotate(0deg) brightness(150%);
}
