.bus{

}

.vehicle-icon {
    padding: 10px !important;
    background-color: white; /* Icon background color - blue */
    border-radius: 50%; /* Circular shape */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Subtle shadow for depth */
    color: white; /* Icon text color */
    font-size: 12px; /* Icon text size */
    font-family: Arial, sans-serif; /* Font for any text inside the icon */
  }

.test {
    background-color: white;
    display: block;
    border-radius: 10px;
    padding: 10px !important;
}